#root {
  width: 100%;
  height: 100%;
}
 body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  background-color: white ;
}
.pageContainer {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.hero {
  width: 100%;
  height: 100vh;
  display: flex;

  background:
    linear-gradient(90deg, rgb(1, 27, 112) 35%, rgba(255, 255, 255, 0)),
    url(images/background-en.png);
  background-size: cover;
  background-position: center;
}
